html, body {

    font-size: 16px;
    font-family: sans-serif;
    color:#343b55;
    margin-left: 2;
    padding: 0;
    
}
.stripe-background{
    height: 300px;
    background-color: #fff;
    background-image: 
        repeating-linear-gradient(45deg, #d0d0d0 0,#d0d0d0 2px,transparent 2px,transparent 20px),
        repeating-linear-gradient(-45deg,#d0d0d0 0,#d0d0d0 2px,transparent 2px,transparent 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
  }
*{
    padding: 0;
    margin: 0;
    margin-left: 0;
}
.big-text{
    font-size: 40px;
}
.div{
    text-align: center;
}
.container {
    margin-left: 20;
    padding: 0;
    display: flex;
    gap: 10px; /* 写真と文章の間のスペース */    
}
h1{
    text-indent: 0em;
    padding-top: 0.5em;
    padding-bottom: 0em;
}
h2{
    margin-left: 0em;
    margin-bottom: 0.5em;
    margin-top: 0em;
}
h3{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 9.5em;
}
div{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 2em;
}

span.blackback{
    text-indent: 3em;
    background:#f7fcff;
    color:#343b55;
}

.box{
    padding: 0em 0em;
    margin: 0em;
    margin-left: 0;
    background: #f7fcff;
    box-shadow: 0 0 10px #011c2c(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
.text-box1{
    padding: 2em 2em;
    margin-left: 12em;
    margin-right: 12em;
    margin-bottom: 1em;
    background: #f7fcff;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}
.text-box2{
    padding: 2em 2em;
    margin-left: 12em;
    margin-right: 12em;
    margin-bottom: 1em;
    background: #f7fcff;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}
.headar {
  position: fixed;
  width: 100%;
  background-color: #f7fcff;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 2rem;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
}
a {
  text-align: center;
  display: inline-block;
  padding: 13px 25px;
  background: #9ddbfd;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
a:hover {
  background: #9ddbfd;
  transform: translateY(-2px);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
}